<div class="wrapper shaded" id="subfoot">
    <section class="row">
        <div class="eleven columns centered">
            <div class="row">
                <article class="six columns">
                    <h3 class="action">You simply <b class="embolden">have</b> to try it.</h3>
                </article>
                <div class="eight columns dl_and_docs">
                    <div class="medium metro rounded btn download primary"><a href="#">Register</a></div>

                </div>
            </div>
        </div>
    </section>
</div>